body {
    font-family: Arial, sans-serif; /* Mengatur font untuk seluruh halaman */
    background-image: url('https://cdn.pixabay.com/photo/2018/08/30/22/03/landscape-3643446_960_720.jpg'); /* Gambar latar belakang */
    background-size: cover; /* Menyesuaikan ukuran gambar dengan layar */
    background-position: center; /* Menempatkan gambar di tengah */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Mengatur posisi form di tengah secara horizontal */
    align-items: center; /* Mengatur posisi form di tengah secara vertikal */
    min-height: 100vh; /* Mengatur tinggi halaman agar memenuhi seluruh layar */
}

.container {
    background: linear-gradient(to right, rgba(9, 2, 28, 0.5),rgba(7, 7, 139, 0.5), rgba(0, 0, 255, 0.5)); /* Gradient background untuk container */
    padding: 30px;
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan pada container */
    box-sizing: border-box; /* Mengatur ukuran box agar padding dan border termasuk dalam lebar dan tinggi elemen */
}

h2 {
    text-align: center;
    color: #5ac116; /* Warna teks */
    font-size: 24px; /* Ukuran font */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column; /* Menyusun elemen form secara vertikal */
}

label {
    margin-bottom: 8px;
    color: #5ac116; /* Warna teks label */
    font-weight: bold; /* Menebalkan teks label */
}

input[type="text"], input[type="date"], input[type="email"], input[type="tel"], textarea, select {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Warna border input */
    border-radius: 6px;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Bayangan dalam input */
    box-sizing: border-box; /* Mengatur ukuran box agar padding dan border termasuk dalam lebar dan tinggi elemen */
    width: 100%;
}

textarea {
    resize: vertical; /* Mengizinkan perubahan ukuran vertikal pada textarea */
}

.buttons {
    display: flex;
    justify-content: space-between; /* Mengatur jarak antara tombol submit dan reset */
}

button {
    padding: 12px;
    background-color: #105e10; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button[type="reset"] {
    background-color: #d9534f; /* Warna merah untuk tombol reset */
}

button:hover {
    background-color: #4cae4c; /* Warna latar belakang tombol saat dihover */
}

button[type="reset"]:hover {
    background-color: #c9302c; /* Warna hover untuk tombol reset */
}

#result {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Warna latar belakang hasil */
    border: 1px solid #ddd;
    border-radius: 6px;
}

#result h3 {
    margin-top: 0;
    color: #333;
    font-size: 20px;
}

#result p {
    margin: 8px 0;
    color: #555;
    font-size: 16px;
}

/* Footer CSS */
footer {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}